{% extends "base.html" %}

{% block content %}
<section>
    <h1>Confirmation de Commande</h1>
    <p>Merci pour votre commande, {{ order.user.username }} !</p>
    <p>Numéro de Commande : {{ order.id }}</p>
    <p>Total : {{ order.total_amount }} {{ settings_instance.currency }}</p>

    {% if order.delivery_option == "delivery" %}
        <p>Adresse de Livraison : {{ order.delivery_address }}</p>
    {% endif %}
    <p>Statut de la Commande : {{ order.get_status_display }}</p>

    <h2>Statut de l'envoi de l'email</h2>
    {% if email_status %}
        {% if email_status.success %}
            <p>Un email de confirmation a été envoyé à {{ order.email }}.</p>
        {% else %}
            <p>Erreur lors de l'envoi de l'email : {{ email_status.message }}</p>
        {% endif %}
    {% else %}
        <p>Statut de l'envoi de l'email : en attente...</p>
    {% endif %}
</section>
{% endblock %}
