<section>
    <h2>Horaires d'ouverturest</h2>
    <div>
        {% for block in page.opening_hours %}
        <div>
            <strong>{{ block.value.day|title }}:</strong>
            {% if block.value.closed %}
            <span>Fermé</span>
            {% else %}
            <span>{{ block.value.open_time }} - {{ block.value.close_time }}</span>
            {% if block.value.second_open_time and block.value.second_close_time %}
            , <span>{{ block.value.second_open_time }} - {{ block.value.second_close_time }}</span>
            {% endif %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
