{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<!-- Bannière pour la page de catégorie de blog -->
{% with banner_title=page.title banner_summary=page.excerpt banner_image=page.featured_image banner_alt=page.title %}
    {% include 'includes/banner_page.html' %}
{% endwith %}

<section class="blog-category">
    <h2>Articles in {{ page.title }}</h2>

    {% if blogpages %}
        <div class="grid grid-4">
            {% for blog in blogpages %}
                <div class="card">
                    <a href="{{ blog.url }}">
                        {% if blog.specific.featured_image %}
                            {% image blog.specific.featured_image fill-300x200 as img %}
                            <img src="{{ img.url }}" class="card-img" alt="{{ blog.title }}">
                        {% endif %}
                        <h3>{{ blog.title }}</h3>
                    </a>
                    <p>{{ blog.specific.excerpt }}</p>
                    <span class="date">{{ blog.specific.date }}</span>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination Controls -->
        {% if pagination.paginator.num_pages > 1 %}
            <div class="pagination">
                {% if pagination.has_previous %}
                    <a href="?page=1">&laquo; Première</a>
                    <a href="?page={{ pagination.previous_page_number }}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ pagination.number }} sur {{ pagination.paginator.num_pages }}.
                </span>

                {% if pagination.has_next %}
                    <a href="?page={{ pagination.next_page_number }}">Suivante</a>
                    <a href="?page={{ pagination.paginator.num_pages }}">Dernière &raquo;</a>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        <p>Aucun article trouvé dans cette catégorie.</p>
    {% endif %}
</section>

{% if page.content %}
<section>
    <div class="content">
        {{ page.content|richtext }}
    </div>
</section>
{% endif %}

{% if page.body %}
    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
{% endif %}

{% endblock %}
