{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

{# {% with banner_title=page.title banner_summary=page.summary banner_image=page.featured_image banner_alt=page.title %} #}
{#    {% include 'includes/banner_page.html' %} #}
{# {% endwith %} #}

<section class="product-category">
    <div class="grid grid-2">
        <div class="card">
            <h1>{{ page.title }}</h1>
            <div class="category-summary">
                {{ page.summary|richtext }}
            </div>
            <div class="category-content">
                {{ page.content|richtext }}
            </div>
        </div>
        {% if page.featured_image %}
            <div class="card">
                {% image page.featured_image width-500 as img %}
                <img src="{{ img.url }}" alt="{{ page.title }}" width="300" height="300" style="object-fit:contain;">
            </div>
        {% endif %}
    </div>

    {% if page.get_children.live %}
        <h2>Contenu dans cette catégorie :</h2>
        <div class="grid grid-3">
            {% for item in page.get_children.live.specific %}
                <div class="card">
                    <a href="{{ item.url }}">
                        {% if item.featured_image %}
                            {% image item.featured_image fill-300x200 as img %}
                            <img src="{{ img.url }}" class="card-img" alt="{{ item.title }}">
                        {% endif %}
                        <h3>{{ item.title }}</h3>
                    </a>

                    {# Affichage pour les produits #}
                    {% if item.is_product %}
                        <p>{{ item.summary|richtext }}</p>
                        <a href="{{ item.url }}" class="btn btn-primary">Voir le produit</a>
                    
                    {# Affichage pour les catégories #}
                    {% elif item.is_category %}
                        <p>{{ item.summary|richtext }}</p>
                        <a href="{{ item.url }}" class="btn btn-secondary">Voir la catégorie</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</section>

{% if page.body %}
    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
{% endif %}

{% endblock %}
